# Ignore dependencies and caches
node_modules
.next/cache
.yarn/cache

# Ignore git and local files
.git
.gitignore
Dockerfile
.dockerignore
README.md
npm-debug.log
yarn-error.log

# Ignore build artifacts not needed for runtime
*.log
