# Node modules & build cache
node_modules
.cache
.pnpm-store
.next/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore
